*~
.ipynb_checkpoints
*.ipynb
Untitled*
__pycache__
data/
build/
dist/
out/
./images
src/strategy/images
.project
.settings
*.pyc
.pydev*
*.sqlite
.vscode
*.code*
doodles
*.sql
*.sql*
*.db
*.txt
src/run.py
src/DisciplinedCopy1.xlsx
.coverage
TODO*
*.zst
