*~
.ipynb_checkpoints
*.ipynb
Untitled*
__pycache__
data/
build/
dist/
out/
./images
.project
.settings
*.pyc
.pydev*
*.sqlite
.vscode
*.code*
doodles
*.sql
*.sql*
*.db
*.txt
!requirements.txt
.coverage
*.zst
*egg-info*
*.pickle
structjour/readme.md
app.log
structjour.log
venv/
*.reg
loadold.py
journaldir
