*~
.ipynb_checkpoints
*.ipynb
Untitled*
__pycache__
data/
build/
dist/
out/
./images
.project
.settings
*.pyc
.pydev*
*.sqlite
.vscode
*.code*
doodles
*.sql
*.sql*
*.db
*.txt
.coverage
TODO*
*.zst
*egg-info*
*.pickle
structjour/readme.md